<header class="home">
  <h1><%= @title %></h1>
  <p class="large">Discover your area</p>
  <p><a href="/games/new" class="button"><img src="<%= image_path "logo-pin.png" %>" alt="" class="button-pin">Start game</a></p>
</header>
<footer class="home">
  <%= @title %> is a project by <a href="http://jackhughesweb.com">Jack Hughes</a>, which was created for <a href="http://festivalofco.de">YRS Festival of Code 2014</a>
  <br>
  The source code can be found on <a href="https://github.com/jackhughesweb/explorelocal">GitHub</a> - pull requests are welcome
</footer>

