<header class="home">
  <h1><%= @title %></h1>
  <p class="large">Discover your area</p>
  <p>(This prototype is based on Birmingham)</p>
  <p><a href="/games/new" class="button">Start game</a></p>
</header>
<footer class="home">
  <%= @title %> is a project by <a href="http://jackhughesweb.com">Jack Hughes</a> for <a href="http://festivalofco.de">YRS Festival of Code 2014</a>
</footer>

