// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: 'Open Sans', sans-serif;
}

.map-canvas {
  width: 100%;
  height: 100%;
}

.map-canvas-guess-container {
  width: 100%;
  height: 10em;
}

.map-canvas-guess {
  width: 100%;
  height: 100%;
}

.sidebar {
  width: 250px;
  height: 90%;
  overflow-y: scroll;
  word-wrap: break-word;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.5em;
  border-bottom-left-radius: 0.5em;
  .el-title {
    font-family: 'Fredoka One', cursive;
    font-size: 1.6em;
  }
  article.card {
    background-color: #ffffff;
    padding: 0.5em;
    margin-bottom: 0.5em;
    box-shadow: 1px 1px 4px #000000;
    img {
      max-width: 100%;
      cursor: hand;
      &.clue-flickr-image {
        cursor: pointer;
      }
    }
    .hidden {
      display: none;
    }
    * {
      padding: 0;
      margin: 0;
    }
    p {
      margin-top: 0.5em;
    }
    .small {
      font-size: 0.8em;
    }
    &.clickable {
      cursor: pointer;
      &:hover {
        background-color: #eeeeee;
      }
    }
    &.pinbutton {
      display: none;
      background-color: #188520;
      color: #ffffff;
      cursor: pointer;
      &:hover {
        background-color: #115f17;
      }
    }
  }
}

section.not-loading {
  display: none;
}

.clue-icon-open {
  display: none;
}

.lightbox {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  display: none;
  cursor: pointer;
  img {
    max-height: 90%;
    max-width: 90%;
  }
}

.lightbox-modal, .lightbox-modal-end, .lightbox-modal-info {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  .button {
    background-color: #188520;
    border-radius: 0.4em;
    padding: 0.8em 1.4em;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    &:hover {
      background-color: #115f17;
    }
  }
  a {
    color: #000000;
  }
}

.lightbox-modal, .lightbox-modal-end {
  display: none;
}

.lightbox-modal-text, .lightbox-modal-end-text, .lightbox-modal-info-text {
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  height: 100%;
  padding: 1em;
  width: 40%;
  overflow: scroll;
}

ol.game-location-cards {
  list-style: none;
  padding: 0;
  li {
    margin: 0.5em 0;
    background-color: #e5e5e5;
    div.location-container {
      padding: 1em;
    }
    h2 {
      padding: 1em;
      margin: 0;
      background-color: #efefef;
      cursor: pointer;
      &:hover {
        background-color: #f6f6f6;
      }
    }
    img {
      max-width: 100%;
      max-height: 10em;
    }
  }
}

.award {
  display: none;
}

.image-game-preloader {
  opacity: 0;
  &, & * {
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}
