// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.location-card {
  max-width: 500px;
  width: 100%;
  margin: 1em;
  padding: 1em;
  background-color: #eeeeee;
  box-shadow: 1px 1px 4px #000000;
  display: inline-block;
  vertical-align: top;
  &.location-new {
    display: block;
  }
}

img.flickr-show {
  max-width: 400px; 
}

img.location-flickr-thumb {
  max-width: 100px;
  max-height: 100px;
  margin: 0.5em;
  border: 5px solid #eeeeee;
  &.selected {
    border: 5px solid #00ff00;
  }
}

.flickr_more {
  display: none;
}

ul.wiki_articles {
  .searchmatch {
    font-weight: bold;
  }
}

.location-hidden {
  display: none;
}
